.center-item {
	grid-column: 1 / -1;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

select, input {
	width: fit-content;
}

.film-details {
	display: grid;
	grid-column-start: 1;
	grid-template-columns: 2fr 2fr;
	text-align: right;
	gap: 1em;
}